*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background: black;
}
.body{
    height: 100vh;
    background: url(Images/meinprofilbild_edited.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: "center";
    justify-content: center;
}
.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;

}
.card-header{
    background: #2c3a47;
    padding: 60px 40px;

}
.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}
@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }

}
.pic img{
    display: block;
    width: 100px;
    height: 120px;
    border-radius: 50%;

}
.name{
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    background: #2c3a47;
}
.desc{
    font-size: 18px;
    color: #e66767;
    background: #2c3a47;
}
.sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background: #2c3a47;
}
.sm a{
    color: white;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
    background: #2c3a47;
}
.sm a:hover{
    color: #e66767;

}
.contact-btm{
display: inline-block;
padding: 12px 50px;
color: #e66767;
border: 2px solid #e66767;
border-radius: 6px;
margin-top: 16px;
transition: .3s linear;
background: #2c3a47;
}
.contact-btm:hover{
    background: #e66767;
    color: white;
}

.card-footer{
    background: wheat;
    padding: 60px 10px;
    
}
.numbers{
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;

}
.item{
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
    background: wheat;
}
.item span{
    display: block;
    color: black;
    font-size: 60px;
    background: wheat;
}
.border{
    width: 1px;
    height: 90px;
    background: grey;

}