html, body{
    margin: 0;
    padding: 0;
    background: #2c2c2e;
}
.main-header{
    background-color: rgb(0, 0, 0, .6);
    background-image: url(Images/denise-chan-pXmbsF70ulM-unsplash.jpg);
    background-blend-mode: multiply;
    background-size: cover;
}